@model ASPMVC.Models.Producer

@{
    ViewBag.Title = "ShowProducerProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProducerProducts</h2>

<div>
    <h4>Producer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
    <ul>
        @*Dodanie listy poroduktów (nie generuje automatycznie)*@
        @foreach(var q in Model.Products)
        {
            <li>@q.Title, @q.Cost</li>
        }
    </ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProducerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
